<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyperparameter Tuning</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        button {
            padding: 10px 20px;
            margin: 5px;
            border: 1px solid #A3A3A3;
            background-color: #f4f4f4;
            cursor: pointer;
            border-radius: 4px;
        }
        button:hover {
            background-color: #e0e0e0;
        }
        #guide {
            margin-top: 20px;
            background-color: #f9f9f9;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 5px;
        }
        .error-message {
            color: red;
            margin-top: 5px;
            font-weight: bold;
            display: none;
        }
        .success-message {
            color: green;
            margin-top: 5px;
            font-weight: bold;
            display: none;
        }
        .shake {
            animation: shake 0.5s;
        }
        @keyframes shake {
            0%, 100% { transform: translateX(0); }
            25% { transform: translateX(-5px); }
            50% { transform: translateX(5px); }
            75% { transform: translateX(-5px); }
        }
        .input-container {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <div style="color: red;">
        *You can return to the home page by pressing the back button on your browser if you do not want to tune the model. 
    </div>
    <h1>Hyperparameter Tuning</h1>
    <div class="input-container">
        <label for="C">C for Logistic Regression:</label>
        <input type="text" id="C">
        <div id="C-error" class="error-message">Invalid C value.</div>
    </div>
    <div class="input-container">
        <label for="penalty">Penalty for Logistic Regression:</label>
        <input type="text" id="penalty">
        <div id="penalty-error" class="error-message">Invalid penalty value.</div>
    </div>
    <div class="input-container">
        <label for="solver">Solver for Logistic Regression:</label>
        <input type="text" id="solver">
        <div id="solver-error" class="error-message">Invalid solver value.</div>
    </div>
    <div class="input-container">
        <label for="l1_ratio">L1_ratio for Logistic Regression:</label>
        <input type="text" id="l1_ratio">
        <div id="l1_ratio-error" class="error-message">Invalid l1_ratio value.</div>
    </div>
    <div class="input-container">
        <label for="max_depth">max depth for Decision Tree:</label>
        <input type="text" id="max_depth">
        <div id="max_depth-error" class="error-message">Invalid max depth value.</div>
    </div>
    <div class="input-container">
        <label for="min_samples_split">min samples split for Decision Tree:</label>
        <input type="text" id="min_samples_split">
        <div id="min_samples_split-error" class="error-message">Invalid min samples split value.</div>
    </div>
    <div class="input-container">
        <label for="min_samples_leaf">min samples leaf for Decision Tree:</label>
        <input type="text" id="min_samples_leaf">
        <div id="min_samples_leaf-error" class="error-message">Invalid min samples leaf value.</div>
    </div>
    <div class="input-container">
        <label for="ccp_alpha">ccp alpha for Decision Tree:</label>
        <input type="text" id="ccp_alpha">
        <div id="ccp_alpha-error" class="error-message">Invalid ccp alpha value.</div>
    </div>
    <div class="input-container">
        <label for="max_depth">max depth for XGBoost:</label>
        <input type="text" id="max_depth">
        <div id="max_depth-error" class="error-message">Invalid max depth value.</div>
    </div>
    <div class="input-container">
        <label for="learning_rate">learning rate for XGBoost:</label>
        <input type="text" id="learning_rate">
        <div id="learning_rate-error" class="error-message">Invalid learning rate value.</div>
    </div>
    <div class="input-container">
        <label for="n_estimators">n estimators for XGBoost:</label>
        <input type="text" id="n_estimators">
        <div id="n_estimators-error" class="error-message">Invalid n estimators value.</div>
    </div>
    <div class="input-container">
        <label for="subsample">subsample for XGBoost:</label>
        <input type="text" id="subsample">
        <div id="subsample-error" class="error-message">Invalid subsample value.</div>
    </div>
    <div class="input-container">
        <label for="colsample_bytree">colsample bytree for XGBoost:</label>
        <input type="text" id="colsample_bytree">
        <div id="colsample_bytree-error" class="error-message">Invalid colsample bytree value.</div>
    </div>
    <div class="input-container">
        <label for="reg_alpha">reg alpha for XGBoost:</label>
        <input type="text" id="reg_alpha">
        <div id="reg_alpha-error" class="error-message">Invalid reg alpha value.</div>
    </div>
    <div class="input-container">
        <label for="reg_lambda">reg lambda for XGBoost:</label>
        <input type="text" id="reg_lambda">
        <div id="reg_lambda-error" class="error-message">Invalid reg lambda value.</div>
    </div>
    <button id="setTuningParamsBtn">Set Tuning Parameters</button>
    <div id="message" class="success-message"></div>

    <div style="margin-top: 15px; color: red;">
        Note: You will be redirected to the home page for the next step (Model Training) after completing this step (Hyperparameter Tuning).
    </div>
    
    <div id="guide">
        <h2>Parameter Guidelines</h2>
        <ul>
            <li><strong>Logistic Regression:</strong></li>
            <ul>
                <li><strong>C:</strong> Number value >= 10 (Decimal not allowed) (e.g., 10, 50, 100)</li>
                <li><strong>penalty:</strong> 'elasticnet'</li>
                <li><strong>solver:</strong> 'saga'</li>
                <li><strong>l1_ratio:</strong> Number value >= 0.0 (e.g., 0.0, 0.5, 1.0)</li>
            </ul>
            <li><strong>Decision Tree:</strong></li>
            <ul>
                <li><strong>max_depth:</strong> Number value >= 5 (Decimal not allowed) (e.g., 5, 8, 10)</li>
                <li><strong>min_samples_leaf:</strong> Number value >= 10 (Decimal not allowed) (e.g., 10, 30, 50)</li>
                <li><strong>min_samples_split:</strong> Number value >= 5 (Decimal not allowed) (e.g., 5, 10, 20)</li>
                <li><strong>ccp_alpha:</strong> Number value > 0 (e.g., 0.01, 0.05, 0.1)</li>
            </ul>
            <li><strong>XGBoost:</strong></li>
            <ul>
                <li><strong>max_depth:</strong> Number value >= 3 (Decimal not allowed) (e.g., 3, 4, 5, 6)</li>
                <li><strong>learning_rate:</strong> Number value > 0 (e.g., 0.01, 0.05, 0.1)</li>
                <li><strong>n_estimators:</strong> Number value >= 100 (Decimal not allowed) (e.g., 100, 200, 300)</li>
                <li><strong>subsample:</strong> Number value > 0 (e.g., 0.5, 0.6, 0.7, 0.8)</li>
                <li><strong>colsample_bytree:</strong> Number value > 0 (e.g., 0.5, 0.6, 0.7, 0.8)</li>
                <li><strong>reg_alpha:</strong> Number value > 0  (e.g., 0.1, 0.5, 1)</li>
                <li><strong>reg_lambda:</strong> Number value >= 1 (Decimal not allowed) (e.g., 1, 5, 10)</li>
            </ul>
        </ul>
    </div>

    <script>
        function validateNumeric(value) {
            return !isNaN(value) && value !== '' && Number(value) > 0;
        }

        function validateInteger(value, minValue) {
            const num = Number(value);
            return Number.isInteger(num) && num >= minValue;
        }

        function showErrorMessage(elementId, message) {
            const errorDiv = document.getElementById(elementId);
            errorDiv.innerHTML = message;
            errorDiv.style.display = 'block';
            errorDiv.classList.add('shake');
            setTimeout(() => {
                errorDiv.classList.remove('shake');
            }, 500);
        }

        function showSuccessMessage(message) {
            const messageDiv = document.getElementById('message');
            messageDiv.innerHTML = message;
            messageDiv.style.display = 'block';
            setTimeout(() => {
                window.location.href = '/konten';
            }, 2000); // Delay redirect for 2 seconds
        }

        function hideErrorMessages() {
            document.querySelectorAll('.error-message').forEach(el => {
                el.style.display = 'none';
            });
        }

        document.getElementById('setTuningParamsBtn').addEventListener('click', () => {
            hideErrorMessages();

            const params = {
                logistic_regression: {
                    C: parseFloat(document.getElementById('C').value), 
                    penalty: document.getElementById('penalty').value,
                    solver: document.getElementById('solver').value,
                    l1_ratio: parseFloat(document.getElementById('l1_ratio').value)
                },
                decision_tree: {
                    max_depth: parseInt(document.getElementById('max_depth').value),
                    min_samples_leaf: parseInt(document.getElementById('min_samples_leaf').value),
                    min_samples_split: parseInt(document.getElementById('min_samples_split').value),
                    ccp_alpha: parseFloat(document.getElementById('ccp_alpha').value)
                },
                xgboost: {
                    max_depth: parseInt(document.getElementById('max_depth').value),
                    learning_rate: parseFloat(document.getElementById('learning_rate').value), 
                    n_estimators: parseInt(document.getElementById('n_estimators').value),
                    subsample: parseFloat(document.getElementById('subsample').value), 
                    colsample_bytree: parseFloat(document.getElementById('colsample_bytree').value), 
                    reg_alpha: parseFloat(document.getElementById('reg_alpha').value), 
                    reg_lambda: parseInt(document.getElementById('reg_lambda').value)
                }
            };

            function validateInteger(value, allowedValues = null) {
                const parsed = parseInt(value);
                if (isNaN(parsed)) return false;
                if (allowedValues && !allowedValues.includes(parsed)) return false;
                return true;
            }

            function validateNumeric(value, allowedValues = null) {
                const parsed = parseFloat(value);
                if (isNaN(parsed)) return false;
                if (allowedValues && !allowedValues.includes(parsed)) return false;
                return true;
            }


            let isValid = true;

            if (!validateInteger(params.logistic_regression.C, [10, 50, 100])) {
                showErrorMessage('C-error', "Invalid C value. Please input '10', '50', or '100'.");
                isValid = false;
            }

            if (params.logistic_regression.penalty !== 'elasticnet') {
                showErrorMessage('penalty-error', "Invalid penalty value. Please input 'elasticnet'.");
                isValid = false;
            }

            if (params.logistic_regression.solver !== 'saga') {
                showErrorMessage('solver-error', "Invalid solver value. Please input 'saga'.");
                isValid = false;
            }
            if (!validateNumeric(params.logistic_regression.l1_ratio, [0.0, 0.5, 1.0])) {
                showErrorMessage('l1_ratio-error', "Invalid l1_ratio value. Please input '0.0', '0.5', or '1.0'.");
                isValid = false;
            }
            if (!validateInteger(params.decision_tree.max_depth, [5, 8, 10])) {
                showErrorMessage('max_depth-error', "Invalid max_depth value. Please input '5', '8', or '10'.");
                isValid = false;
            }

            if (!validateInteger(params.decision_tree.min_samples_split, [10, 30, 50])) {
                showErrorMessage('min_samples_split-error', "Invalid min_samples_split value. Please input '10', '30', or '50'.");
                isValid = false;
            }

            if (!validateInteger(params.decision_tree.min_samples_leaf, [5, 10, 20])) {
                showErrorMessage('min_samples_leaf-error', "Invalid min_samples_leaf value. Please input '5', '10', or '20'.");
                isValid = false;
            }

            if (!validateNumeric(params.decision_tree.ccp_alpha, [0.01, 0.05, 0.1])) {
                showErrorMessage('ccp_alpha-error', "Invalid ccp_alpha value. Please input '0.01', '0.05', or '0.1'.");
                isValid = false;
            }

            if (!validateInteger(params.xgboost.max_depth, [3, 4, 5, 10])) {
                showErrorMessage('max_depth-error', "Invalid max_depth value. Please input '3', '4', '5', or '10'.");
                isValid = false;
            }

            if (!validateNumeric(params.xgboost.learning_rate, [0.01, 0.05, 0.1])) {
                showErrorMessage('learning_rate-error', "Invalid learning_rate value. Please input '0.01', '0.05', or '0.1'.");
                isValid = false;
            }

            if (!validateInteger(params.xgboost.n_estimators, [100, 200, 300])) {
                showErrorMessage('n_estimators-error', "Invalid n_estimators value. Please input '100', '200', or '300'.");
                isValid = false;
            }

            if (!validateNumeric(params.xgboost.subsample, [0.5, 0.6, 0.7, 0.8])) {
                showErrorMessage('subsample-error', "Invalid subsample value. Please input '0.5', '0.6', '0.7', or '0.8'.");
                isValid = false;
            }

            if (!validateNumeric(params.xgboost.colsample_bytree, [0.5, 0.6, 0.7, 0.8])) {
                showErrorMessage('colsample_bytree-error', "Invalid colsample_bytree value. Please input '0.5', '0.6', '0.7', or '0.8'.");
                isValid = false;
            }

            if (!validateNumeric(params.xgboost.reg_alpha, [0.1, 0.5, 1])) {
                showErrorMessage('reg_alpha-error', "Invalid reg_alpha value. Please input '0.1', '0.5', or '1'.");
                isValid = false;
            }

            if (!validateInteger(params.xgboost.reg_lambda, [1, 5, 10])) {
                showErrorMessage('reg_lambda-error', "Invalid reg_lambda value. Please input '1', '5', or '10'.");
                isValid = false;
            }

            if (isValid) {
                fetch('/set_tuning_params', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(params)
                })
                .then(response => response.json())
                .then(data => {
                    showSuccessMessage('Parameters set successfully.');
                })
                .catch(error => console.error('Error:', error));
            }
        });
    </script>
</body>
</html>
